### The browser cache
<IfModule mod_expires.c>
  <IfModule mod_headers.c>
    Header append Cache-Control "public"
  </IfModule>
  #FileETag MTime Size
  ExpiresActive On
  ExpiresDefault "access plus 0 minutes"
  #ExpiresByType text/html "access plus 3600 seconds"
  #ExpiresByType application/xhtml+xml "access plus 3600 seconds"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
  ExpiresByType application/x-javascript "access plus 1 month"
  ExpiresByType application/json "access plus 1 month"
  ExpiresByType text/cache-manifest "access plus 0 seconds"
  #ExpiresByType application/x-shockwave-flash "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/x-icon "access plus 1 month"
  ExpiresByType image/ico "access plus 1 month"
  ExpiresByType image/svg+xml "access plus 1 month"
  ExpiresByType font/opentype "access plus 1 month"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
  ExpiresByType application/x-font-ttf "access plus 1 month"
  ExpiresByType application/font-woff "access plus 1 month"
  ExpiresByType application/font-woff2 "access plus 1 month"
</IfModule>

### Compression
<IfModule mod_deflate.c>
  <IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
      SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
      RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
    </IfModule>
  </IfModule>
  <IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE text/html text/plain
    AddOutputFilterByType DEFLATE text/xml application/xml
    AddOutputFilterByType DEFLATE text/css text/javascript
    AddOutputFilterByType DEFLATE application/json application/javascript application/x-javascript
    ### Images
    AddOutputFilterByType DEFLATE image/jpeg image/png image/gif image/x-icon image/svg+xml
    ### Web fonts
    AddOutputFilterByType DEFLATE font/opentype application/vnd.ms-fontobject application/x-font-ttf application/font-woff application/font-woff2
  </IfModule>
  <IfModule !mod_filter.c>
    <FilesMatch "\.(css|js|xhtml|html)$">
      SetOutputFilter DEFLATE
    </FilesMatch>
    <FilesMatch "\.(ttf|otf|eot|woff|woff2|svg|svgz)$">
      SetOutputFilter DEFLATE
    </FilesMatch>
    <FilesMatch "\.(jpg|jpeg|png|gif|ico)$">
      SetOutputFilter DEFLATE
    </FilesMatch>
  </IfModule>
  <IfModule mod_setenvif.c>
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  </IfModule>
</IfModule>