/* ====================  DEBUG CSS  ======================== */
$debug-css: true !default;
$debug-warning: true !default;
$warning-color: #ffa500 !default;
$error-color: #f00 !default;

@if ($debug-css) {
  img {
    @if ($debug-warning) {
      &[alt=""] {
        outline: 2px solid $warning-color;
      }
    }

    &:not([src]),
    &:not([alt]),
    &[src=""] {
      height: 50px;
      width: 50px;
      background-color: #ccc;
      outline: 2px solid $error-color;
    }
  }

  label {
    &:not([for]),
    &[for=""] {

      + input,
      ~ input {
        &:not([type="submit"]) {
          outline: 2px solid $warning-color;
        }
      }
    }
  }

  input {
    &[type="submit"] {
      &:not([value]),
      &[value=""] {
        outline: 2px solid $error-color;
      }
    }

    // sass-lint:disable force-pseudo-nesting force-attribute-nesting
    &:not([type]),
    &[type=""],
    &:not([type="submit"]):not([name]),
    &:not([type="submit"])[name=""] {
      outline: 2px solid $error-color;
    }
    // sass-lint:enable force-pseudo-nesting force-attribute-nesting
  }

  ul,
  ol {
    > *:not(li) {
      outline: 2px solid $error-color;
    }
  }

  dl {
    > * {
      &:not(dt) {
        &:not(dd) {
          outline: 2px solid $error-color;
        }
      }
    }
  }

  a {
    @if ($debug-warning) {
      &[href=""],
      &[href="#"] {
        outline: 2px solid $warning-color;
      }
    }

    &:not([href]) {
      outline: 2px solid $error-color;
    }
  }

  div,
  span,
  li,
  p,
  td,
  th {
    @if ($debug-warning) {
      &:empty {
        outline: 2px dashed $warning-color;
      }
    }
  }

  * {
    &[style] {
      &:not([style=""]) {
        outline: 2px solid $error-color;
      }
    }
  }
}

/* ====================  END DEBUG CSS  ==================== */
