// PLACEHOLDERS
@import "placeholders/circle";
@import "placeholders/clear";
@import "placeholders/cursor";
@import "placeholders/display";
@import "placeholders/float";
@import "placeholders/font";
@import "placeholders/image";
@import "placeholders/list-style";
@import "placeholders/margin";
@import "placeholders/overflow";
@import "placeholders/padding";
@import "placeholders/pointer-events";
@import "placeholders/position";
@import "placeholders/table";
@import "placeholders/text-align";
@import "placeholders/text-decoration";
@import "placeholders/text-overflow";
@import "placeholders/text-transform";
@import "placeholders/transform";
@import "placeholders/transform-origin";
@import "placeholders/transform-style";
@import "placeholders/vertical-align";
@import "placeholders/white-space";
@import "placeholders/flexbox"; // [Optional]

// Reset list
%reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Reset flow
%flow-root {
  @include flow-root();
}

%clearfix {
  @include clearfix();
}
