html,
body {
    height: 100%;
}

body {
    font: 400 16px/1.5 "Arial", "Helvetica", sans-serif;
    color: #000;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 15px;
}

address {
    margin-bottom: 15px;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 15px;
}

blockquote {
    margin: 0 0 15px;
}


a {
    color: #007bff;
    text-decoration: underline;
    -webkit-text-decoration-skip: objects;

    &:hover {
        color: darken(#007bff, 10%);
        text-decoration: none;
    }
}

pre {
    margin-top: 0;
    margin-bottom: 15px;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

figure {
    margin: 0 0 15px;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}
