.btn {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    transition: .15s ease-in-out;

    &:hover {
        text-decoration: none;
    }

    &:focus { }

    &:active { }

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    &:focus,
    &.focus {
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(#007bff, .25);
    }

    &.disabled,
    &:disabled {
        opacity: .65;
    }

    &-sm {
        padding: 4px 8px;
        font-size: 14px;
    }

    &-lg {
        padding: 8px 16px;
        font-size: 20px;
    }

    &-block {
        display: block;
        width: 100%;

        & + & {
            margin-top: 8px;
        }
    }

    &-default {
        background-color: #ced4da;
        color: #333;
    }
}
