//// Variant 1
//.comments-area {
//    background-color: #fff;
//    border-top: 1px solid #eaeaea;
//    border-top: 1px solid rgba(51, 51, 51, 0.1);
//    padding: 7.6923%;
//}
//
//.comments-area > :last-child {
//    margin-bottom: 0;
//}
//
//.comment-list + .comment-respond {
//    border-top: 1px solid #eaeaea;
//    border-top: 1px solid rgba(51, 51, 51, 0.1);
//}
//
//.comment-list + .comment-respond,
//.comment-navigation + .comment-respond {
//    padding-top: 1.6em;
//}
//
//.comments-title,
//.comment-reply-title {
//    font-family: "Noto Serif", serif;
//    font-size: 18px;
//    line-height: 1.3333;
//}
//
//.comments-title {
//    margin-bottom: 1.3333em;
//}
//
//.comment-list {
//    list-style: none;
//    margin: 0;
//}
//
//.comment-list article,
//.comment-list .pingback,
//.comment-list .trackback {
//    border-top: 1px solid #eaeaea;
//    border-top: 1px solid rgba(51, 51, 51, 0.1);
//    padding: 1.6em 0;
//}
//
//.comment-list .children {
//    list-style: none;
//    margin: 0;
//}
//
//.comment-list .children > li {
//    padding-left: 0.8em;
//}
//
//.comment-author {
//    color: #707070;
//    color: rgba(51, 51, 51, 0.7);
//    margin-bottom: 0.4em;
//}
//
//.comment-author a:hover {
//    border-bottom: 1px solid #707070;
//    border-bottom: 1px solid rgba(51, 51, 51, 0.7);
//}
//
//.comment-author .avatar {
//    float: left;
//    height: 24px;
//    margin-right: 0.8em;
//    width: 24px;
//}
//
//.bypostauthor > article .fn:after {
//    content: "\f304";
//    position: relative;
//    top: 5px;
//    left: 3px;
//}
//
//.comment-metadata,
//.pingback .edit-link {
//    color: #707070;
//    color: rgba(51, 51, 51, 0.7);
//    font-family: "Noto Sans", sans-serif;
//    font-size: 12px;
//    line-height: 1.5;
//}
//
//.comment-metadata a,
//.pingback .edit-link a {
//    color: #707070;
//    color: rgba(51, 51, 51, 0.7);
//}
//
//.comment-metadata a:hover,
//.pingback .edit-link a:hover {
//    border-bottom: 1px solid #333;
//}
//
//.comment-metadata a:hover,
//.comment-metadata a:focus,
//.pingback .edit-link a:hover,
//.pingback .edit-link a:focus {
//    color: #333;
//}
//
//.comment-metadata {
//    margin-bottom: 1.6em;
//}
//
//.comment-metadata .edit-link {
//    margin-left: 1em;
//}
//
//.pingback .edit-link {
//    margin-left: 1em;
//}
//
//.pingback .edit-link:before {
//    top: 5px;
//}
//
//.comment-content ul,
//.comment-content ol {
//    margin: 0 0 1.6em 1.3333em;
//}
//
//.comment-content li > ul,
//.comment-content li > ol {
//    margin-bottom: 0;
//}
//
//.comment-content > :last-child {
//    margin-bottom: 0;
//}
//
//.comment-list .reply {
//    font-size: 12px;
//}
//
//.comment-list .reply a {
//    border: 1px solid #eaeaea;
//    border: 1px solid rgba(51, 51, 51, 0.1);
//    color: #707070;
//    color: rgba(51, 51, 51, 0.7);
//    display: inline-block;
//    font-family: "Noto Sans", sans-serif;
//    font-weight: 700;
//    line-height: 1;
//    margin-top: 2em;
//    padding: 0.4167em 0.8333em;
//    text-transform: uppercase;
//}
//
//.comment-list .reply a:hover,
//.comment-list .reply a:focus {
//    border-color: #333;
//    color: #333;
//    outline: 0;
//}
//
//.comment-form {
//    padding-top: 1.6em;
//}
//
//.comment-form label {
//    color: #707070;
//    color: rgba(51, 51, 51, 0.7);
//    font-family: "Noto Sans", sans-serif;
//    font-size: 12px;
//    font-weight: 700;
//    display: block;
//    letter-spacing: 0.04em;
//    line-height: 1.5;
//    text-transform: uppercase;
//}
//
//.comment-form input[type="text"],
//.comment-form input[type="email"],
//.comment-form input[type="url"],
//.comment-form input[type="submit"] {
//    width: 100%;
//}
//
//.comment-notes,
//.comment-awaiting-moderation,
//.logged-in-as,
//.form-allowed-tags {
//    color: #707070;
//    color: rgba(51, 51, 51, 0.7);
//    font-family: "Noto Sans", sans-serif;
//    font-size: 12px;
//    line-height: 1.5;
//    margin-bottom: 2em;
//}
//
//.logged-in-as a:hover {
//    border-bottom: 1px solid #333;
//}
//
//.no-comments {
//    border-top: 1px solid #eaeaea;
//    border-top: 1px solid rgba(51, 51, 51, 0.1);
//    color: #707070;
//    color: rgba(51, 51, 51, 0.7);
//    font-family: "Noto Sans", sans-serif;
//    font-weight: 700;
//    padding-top: 1.6em;
//}
//
//.comment-navigation + .no-comments {
//    border-top: 0;
//}
//
//.form-allowed-tags code {
//    font-family: Inconsolata, monospace;
//}
//
//.form-submit {
//    margin-bottom: 0;
//}
//
//.required {
//    color: #c0392b;
//}
//
//.comment-reply-title small {
//    font-size: 100%;
//}
//
//.comment-reply-title small a {
//    border: 0;
//    float: right;
//    height: 32px;
//    overflow: hidden;
//    width: 26px;
//}
//
//.comment-reply-title small a:before {
//    content: "\f405";
//    font-size: 32px;
//    position: relative;
//    top: -3px;
//}
//
//.comment-form #wp-comment-cookies-consent {
//    margin: 0 10px 0 0;
//}
//
//.comment-form .comment-form-cookies-consent label {
//    display: inline;
//    font-size: 12px;
//    font-weight: normal;
//    letter-spacing: 0;
//    text-transform: none;
//}
//
//.comment-content img.wp-smiley {
//    border: none;
//    margin-top: 0;
//    margin-bottom: 0;
//    padding: 0;
//}
//
//@media screen and (min-width: 38.75em) {
//    .comments-area {
//        border-top: 0;
//        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
//        margin: 7.6923% 7.6923% 0;
//    }
//
//    .comment-content ul,
//    .comment-content ol {
//        margin-left: 0;
//    }
//
//    .comment-content li > ul,
//    .comment-content li > ol,
//    .comment-content blockquote > ul,
//    .comment-content blockquote > ol {
//        margin-left: 1.3333em;
//    }
//}
//
//@media screen and (min-width: 46.25em) {
//    .comment-navigation,
//    .author-heading,
//    .author-bio,
//    .comment-metadata,
//    .pingback .edit-link,
//    .comment-list .reply,
//    .comment-notes,
//    .comment-awaiting-moderation,
//    .logged-in-as,
//    .comment-form label,
//    .comment-form .comment-form-cookies-consent label{
//        font-size: 14px;
//    }
//
//    .comment-content h2 {
//        font-size: 29px;
//        line-height: 1.2069;
//        margin-top: 1.931em;
//        margin-bottom: 0.9655em;
//    }
//
//    .comment-content h3 {
//        font-size: 24px;
//        line-height: 1.1667;
//        margin-top: 2.3333em;
//        margin-bottom: 1.1667em;
//    }
//
//    .comment-content h4 {
//        font-size: 20px;
//        line-height: 1.4;
//        margin-top: 2.8em;
//        margin-bottom: 1.4em;
//    }
//
//    .comment-content h5,
//    .comment-content h6 {
//        font-size: 17px;
//        line-height: 1.2353;
//        margin-top: 3.2941em;
//        margin-bottom: 1.6471em;
//    }
//
//    .comments-title,
//    .comment-reply-title {
//        font-size: 24px;
//        line-height: 1.1667;
//    }
//
//    .comments-title {
//        margin-bottom: 1.4em;
//    }
//
//    .comment-list article,
//    .comment-list .pingback,
//    .comment-list .trackback {
//        padding: 1.6471em 0;
//    }
//
//    .comment-list + .comment-respond,
//    .comment-navigation + .comment-respond {
//        padding-top: 1.6471em;
//    }
//
//    .comment-list .children > li {
//        padding-left: 1.2353em;
//    }
//
//    .comment-meta {
//        position: relative;
//    }
//
//    .comment-author {
//        margin-bottom: 0;
//    }
//
//    .comment-author .avatar {
//        height: 42px;
//        margin-right: 1.64705em;
//        position: relative;
//        top: 5px;
//        width: 42px;
//    }
//
//    .comment-metadata .edit-link:before {
//        top: 2px;
//    }
//
//    .pingback .edit-link:before {
//        top: 6px;
//    }
//
//    .bypostauthor > article .fn:after {
//        top: 7px;
//        left: 6px;
//    }
//
//    .comment-content ul,
//    .comment-content ol {
//        margin-bottom: 1.6471em;
//    }
//
//    .comment-list .reply a {
//        padding: 0.4286em 0.8571em;
//    }
//
//    .comment-form,
//    .no-comments {
//        padding-top: 1.6471em;
//    }
//
//    .comment-reply-title small a:before {
//        top: -1px;
//    }
//}
//
//// Variant 2
//
//// Variant 3

.comments {
    &-title {

    }
}

.comment {
    &-list,
    &-children {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &-list {
        ~ .comment-respond {
            border-top: 1px solid #c4c4c4;
            padding-top: 50px;
        }
    }

    &-item {

    }

    &-body {
        border-top: 1px solid #c4c4c4;
        padding: 15px 0;
    }

    &-meta {

    }

    &-author {
        &-name {

        }

        .avatar {
            position: relative;
            top: 4px;
            width: 42px;
            height: 42px;
            float: left;
            padding: 2px;
            margin-right: 10px;
            border: 1px solid #c4c4c4;
            border-radius: 50%;
        }

        .says {
            display: none;
        }
    }

    &-metadata {
        font-size: 14px;

        a {
            color: #707070;
        }

        .edit-link {
            &::before {
                content: "\002f";
                display: inline-block;
                opacity: .7;
                padding: 0 5px;
            }
        }
    }

    &-content {
        padding: 15px 0;

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-children {
        .comment-item {
            padding-left: 30px;
        }
    }
}

.bypostauthor {
    background-color: #f8f8f8;
}

@media only screen and (max-width: 767px) {
    .comment {
        &-children {
            .comment-item {
                padding-left: 10px;
            }
        }

        &-author {
            margin-bottom: 5px;

            .avatar {
                top: -2px;
                width: 28px;
                height: 28px;
                padding: 0;
                border: 0;
            }
        }
    }
}