.comments {
    &-title {
    }
}

.comment {
    &-list,
    &-children {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &-list {
        ~ .comment-respond {
            border-top: 1px solid #c4c4c4;
            padding-top: 50px;
        }
    }

    &-item {

    }

    &-body {
        border-top: 1px solid #c4c4c4;
        padding: 15px;
    }

    &-meta {
    }

    &-author {
        &-name {
        }

        .avatar {
            position: relative;
            top: 4px;
            width: 42px;
            height: 42px;
            float: left;
            padding: 2px;
            margin-right: 10px;
            border: 1px solid #c4c4c4;
            border-radius: 50%;
        }

        .says {
            display: none;
        }
    }

    &-metadata {
        font-size: 14px;

        a {
            color: #707070;
        }

        .edit-link {
            &::before {
                content: "\002f";
                display: inline-block;
                opacity: .7;
                padding: 0 5px;
            }
        }
    }

    &-content {
        padding: 15px 0;

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-children {
        .comment-item {
            padding-left: 30px;
        }
    }

    &-form {
        max-width: 600px;
    }
}

.bypostauthor {
    background-color: #f8f8f8;
}

@media only screen and (max-width: 767px) {
    .comment {
        &-children {
            .comment-item {
                padding-left: 10px;
            }
        }

        &-author {
            margin-bottom: 5px;

            .avatar {
                top: -2px;
                width: 28px;
                height: 28px;
                padding: 0;
                border: 0;
            }
        }
    }
}
