@import "placeholders";

.wrapper {
    padding: 15px 0 30px;
    flex: 1 0 auto;
}

.container {
    &,
    &-fluid {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        @extend %clearfix;
    }
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
    }

    iframe,
    embed,
    object,
    video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    &-21by9 {
        &::before {
            padding-top: percentage(9 / 21);
        }
    }

    &-16by9 {
        &::before {
            padding-top: percentage(9 / 16);
        }
    }

    &-4by3 {
        &::before {
            padding-top: percentage(3 / 4);
        }
    }

    &-1by1 {
        &::before {
            padding-top: percentage(1 / 1);
        }
    }
}

.pagination {

    &-list,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-list {
        @extend %reset-list;
        margin: 20px 0;
        font-size: 0;
    }

    &-item {
        font-size: 16px;
        margin-left: -1px;
    }

    &-link {
        display: block;
        padding: 8px 12px;
        border: 1px solid #dee2e6;
        color: #0056b3;
        line-height: 1.25;
        text-decoration: none;
        background-color: #fff;
        transition: .15s ease-in-out;

        &:hover {
            color: #0056b3;
            text-decoration: none;
            border-color: #dee2e6;
            background-color: #e9ecef;
        }

        &.is-current {
            color: #fff;
            border-color: #007bff;
            background-color: #007bff;
        }

        &.disabled {
            cursor: auto;
            color: #6c757d;
            pointer-events: none;
            border-color: #dee2e6;
            background-color: #fff;
        }

        &:not(:disabled),
        &:not(.disabled) {
            cursor: pointer;
        }
    }

    &-prev {
    }

    &-next {
    }
}