$white: #fff !default;
$black: #000 !default;
$gray-600: #6c757d !default;
$gray-900: #212529 !default;

$font-weight-normal: 400 !default;

$yiq-contrasted-threshold: 150 !default;
$yiq-text-dark: $gray-900 !default;
$yiq-text-light: $white !default;

$enable-rounded: false !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-prefers-reduced-motion-media-query: true !default;

$body-bg: $white !default;
$body-color: $gray-900 !default;

$transition-base: all .2s ease-in-out !default;

$theme-colors: () !default;
$theme-colors: map-merge(
        (
            "primary": #007bff,
            "secondary": #28a745,
        ),
        $theme-colors
);

@function color-yiq($color, $dark: $yiq-text-dark, $light: $yiq-text-light) {
    $r: red($color);
    $g: green($color);
    $b: blue($color);

    $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

    @if ($yiq >= $yiq-contrasted-threshold) {
        @return $dark;
    } @else {
        @return $light;
    }
}

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

$component-active-bg: theme-color("primary") !default;

$btn-padding-y: 6px !default;
$btn-padding-x: 12px !default;
$btn-font-size: 16px !default;
$btn-line-height: 1.5 !default;

$btn-padding-y-sm: 4px !default;
$btn-padding-x-sm: 8px !default;
$btn-font-size-sm: ($btn-font-size * .875) !default;
$btn-line-height-sm: $btn-line-height !default;

$btn-padding-y-lg: 8px !default;
$btn-padding-x-lg: 16px !default;
$btn-font-size-lg: ($btn-font-size * 1.25) !default;
$btn-line-height-lg: $btn-line-height !default;

$btn-border-width: 1px !default$btn-font-weight: 400 !default;
$btn-box-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-focus-width: 3px !default;
$btn-focus-color: rgba($component-active-bg, .25) !default;
$btn-focus-box-shadow: 0 0 0 $btn-focus-width $btn-focus-color !default;
$btn-disabled-opacity: .65 !default;
$btn-active-box-shadow: inset 0 3px 5px rgba($black, .125) !default;

$btn-link-disabled-color: $gray-600 !default;

$btn-block-spacing-y: 8px !default;

$btn-border-radius: 4px !default;
$btn-border-radius-lg: 5px !default;
$btn-border-radius-sm: 3px !default;

$btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

.btn {
    display: inline-block;
    font-weight: $btn-font-weight;
    color: $body-color;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: $btn-border-width solid transparent;
    padding: $btn-padding-y $btn-padding-x;
    font-size: $btn-font-size;
    line-height: $btn-line-height;

    @if $enable-rounded {
        border-radius: $btn-border-radius;
    } @else {
        border-radius: 0;
    }

    @if $enable-transitions {
        @if length($btn-transition) == 0 {
            transition: $transition-base;
        } @else {
            transition: $btn-transition;
        }
    }

    @if $enable-prefers-reduced-motion-media-query {
        @media screen and (prefers-reduced-motion: reduce) {
            transition: none;
        }
    }

    &:hover {
        color: $body-color;
        text-decoration: none;
    }

    &:focus,
    &.focus {
        outline: 0;
        box-shadow: $btn-focus-box-shadow;
    }

    &.disabled,
    &:disabled {
        opacity: $btn-disabled-opacity;
        @if $enable-shadows {
            box-shadow: none;
        }
    }

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        @if $enable-shadows {
            box-shadow: $btn-active-box-shadow;
        }

        &:focus {
            @if $enable-shadows {
                box-shadow: $btn-focus-box-shadow, $btn-active-box-shadow;
            }
        }
    }
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}


@each $color, $value in $theme-colors {
    .btn-#{$color} {
        $background: $value;
        $border: $value;
        $hover-background: darken($background, 7.5%);
        $hover-border: darken($border, 10%);
        $active-background: darken($background, 10%);
        $active-border: darken($border, 12.5%);

        color: color-yiq($background);
        border-color: $border;

        @if $enable-gradients {
            background: $background linear-gradient(180deg, mix($body-bg, $background, 15%), $background) repeat-x;
        } @else {
            background-color: $background;
        }

        @if $enable-shadows {
            box-shadow: $btn-box-shadow;
        }

        &:hover {
            color: color-yiq($hover-background);
            border-color: $hover-border;

            @if $enable-gradients {
                background: $hover-background linear-gradient(180deg, mix($body-bg, $hover-background, 15%), $hover-background) repeat-x;
            } @else {
                background-color: $hover-background;
            }
        }

        &:focus,
        &.focus {
            @if $enable-shadows {
                box-shadow: $btn-box-shadow, 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5);
            } @else {
                box-shadow: 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5);
            }
        }

        &.disabled,
        &:disabled {
            color: color-yiq($background);
            background-color: $background;
            border-color: $border;

            @if $enable-gradients {
                background-image: none;
            }
        }

        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active {
            color: color-yiq($active-background);
            background-color: $active-background;
            @if $enable-gradients {
                background-image: none;
            }
            border-color: $active-border;

            &:focus {
                @if $enable-shadows {
                    box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5);
                } @else {
                    box-shadow: 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5);
                }
            }
        }
    }
}

@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        $color: $value;
        $color-hover: color-yiq($color);
        $active-background: $color;
        $active-border: $color;

        color: $color;
        border-color: $color;

        &:hover {
            color: $color-hover;
            background-color: $active-background;
            border-color: $active-border;
        }

        &:focus,
        &.focus {
            box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
        }

        &.disabled,
        &:disabled {
            color: $color;
            background-color: transparent;
        }

        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active {
            color: color-yiq($active-background);
            background-color: $active-background;
            border-color: $active-border;

            &:focus {
                @if $enable-shadows and $btn-active-box-shadow != none {
                    box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($color, .5);
                } @else {
                    box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
                }
            }
        }
    }
}

$btn-link-color: theme-color("primary") !default;
$btn-link-font-weight: 400 !default;
$btn-link-decoration: none !default;
$btn-link-hover-color: darken($btn-link-color, 15%) !default;
$btn-link-hover-decoration: underline !default;

.btn-link {
    font-weight: $font-weight-normal;
    color: $btn-link-color;

    &:hover {
        color: $btn-link-hover-color;
        text-decoration: $btn-link-hover-decoration;
    }

    &:focus,
    &.focus {
        text-decoration: $btn-link-hover-decoration;
        box-shadow: none;
    }

    &:disabled,
    &.disabled {
        color: $btn-link-disabled-color;
        pointer-events: none;
    }
}

.btn-lg {
    padding: $btn-padding-y-lg $btn-padding-x-lg;
    font-size: $btn-font-size-lg;
    line-height: $btn-line-height-lg;
    @if $enable-rounded {
        border-radius: $btn-border-radius-lg;
    } @else {
        border-radius: 0;
    }
}

.btn-sm {
    padding: $btn-padding-y-sm $btn-padding-x-sm;
    font-size: $btn-font-size-sm;
    line-height: $btn-line-height-sm;
    @if $enable-rounded {
        border-radius: $btn-border-radius-sm;
    } @else {
        border-radius: 0;
    }
}

.btn-block {
    display: block;
    width: 100%;

    + .btn-block {
        margin-top: $btn-block-spacing-y;
    }
}

[type="submit"],
[type="reset"],
[type="button"] {
    &.btn-block {
        width: 100%;
    }
}
