$hamburger-offset: 8px !default;
$hamburger-duration: .1s !default;
$hamburger-delay: .1s !default;
$hamburger-color: #199ec7 !default;

$menu-close-size: 25px !default;
$menu-close-color: #199ec7 !default;
