// FLEX PLACEHOLDER

// Display flex
%display-flex {
  @include flexbox(flex);
}

%display-inline-flex {
  @include flexbox(inline-flex);
}

// flex-direction
%flex-direction-row {
  @include flex-direction(row);
}

%flex-direction-row-reverse {
  @include flex-direction(row-reverse);
}

%flex-direction-column {
  @include flex-direction(column);
}

%flex-direction-column-reverse {
  @include flex-direction(column-reverse);
}

// flex-wrap
%flex-wrap-nowrap {
  @include flex-wrap(nowrap);
}

%flex-wrap-wrap {
  @include flex-wrap(wrap);
}

%flex-wrap-wrap-reverse {
  @include flex-wrap(wrap-reverse);
}

// justify-content
%justify-content-flex-start {
  @include justify-content(flex-start);
}

%justify-content-flex-end {
  @include justify-content(flex-end);
}

%justify-content-center {
  @include justify-content(center);
}

%justify-content-space-between {
  @include justify-content(space-between);
}

%justify-content-space-around {
  @include justify-content(space-around);
}

// align-items
%align-items-flex-start {
  @include align-items(flex-start);
}

%align-items-flex-end {
  @include align-items(flex-end);
}

%align-items-center {
  @include align-items(center);
}

%align-items-baseline {
  @include align-items(baseline);
}

%align-items-stretch {
  @include align-items(stretch);
}

// align-content
%align-content-flex-start {
  @include align-content(flex-start);
}

%align-content-flex-end {
  @include align-content(flex-end);
}

%align-content-center {
  @include align-content(center);
}

%align-content-space-between {
  @include align-content(space-between);
}

%align-content-space-around {
  @include align-content(space-around);
}

%align-content-stretch {
  @include align-content(stretch);
}

// align-self
%align-self-auto {
  @include align-self(auto);
}

%align-self-flex-start {
  @include align-self(flex-start);
}

%align-self-flex-end {
  @include align-self(flex-end);
}

%align-self-center {
  @include align-self(center);
}

%align-self-baseline {
  @include align-self(baseline);
}

%align-self-stretch {
  @include align-self(stretch);
}
