// FONT PLACEHOLDER
%font-style-italic {
  font-style: italic;
}

%font-style-oblique {
  font-style: oblique;
}

%font-variant-normal {
  font-variant: normal;
}

%font-variant-small-caps {
  font-variant: small-caps;
}

%font-weight-normal {
  font-weight: normal;
}

%font-weight-bold {
  font-weight: bold;
}

%font-weight-lighter {
  font-weight: lighter;
}

%font-weight-bolder {
  font-weight: bolder;
}
