// LIST STYLE PLACEHOLDER
%list-style-type-circle {
  list-style-type: circle;
}

%list-style-type-disc {
  list-style-type: disc;
}

%list-style-type-square {
  list-style-type: square;
}

%list-style-type-none {
  list-style-type: none;
}

%list-style-position-inside {
  list-style-position: inside;
}

%list-style-position-outside {
  list-style-position: outside;
}
