// MARGIN PLACEHOLDER
%margin-0-auto {
  margin: $m0 auto;
}

%margin-a-auto {
  margin: auto;
}

%margin-x-auto {
  margin-right: auto;
  margin-left: auto;
}

%margin-a-0 {
  margin: $m0;
}

%margin-t-0 {
  margin-top: $m0;
}

%margin-r-0 {
  margin-right: $m0;
}

%margin-b-0 {
  margin-bottom: $m0;
}

%margin-l-0 {
  margin-left: $m0;
}

%margin-x-0 {
  margin-right: $m0;
  margin-left: $m0;
}

%margin-y-0 {
  margin-top: $m0;
  margin-bottom: $m0;
}

%margin-1-auto {
  margin: $m1 auto;
}

%margin-a-1 {
  margin: $m1;
}

%margin-t-1 {
  margin-top: $m1;
}

%margin-r-1 {
  margin-right: $m1;
}

%margin-b-1 {
  margin-bottom: $m1;
}

%margin-l-1 {
  margin-left: $m1;
}

%margin-x-1 {
  margin-right: $m1;
  margin-left: $m1;
}

%margin-y-1 {
  margin-top: $m1;
  margin-bottom: $m1;
}

%margin-2-auto {
  margin: $m2 auto;
}

%margin-a-2 {
  margin: $m2;
}

%margin-t-2 {
  margin-top: $m2;
}

%margin-r-2 {
  margin-right: $m2;
}

%margin-b-2 {
  margin-bottom: $m2;
}

%margin-l-2 {
  margin-left: $m2;
}

%margin-x-2 {
  margin-right: $m2;
  margin-left: $m2;
}

%margin-y-2 {
  margin-top: $m2;
  margin-bottom: $m2;
}

%margin-3-auto {
  margin: $m3 auto;
}

%margin-a-3 {
  margin: $m3;
}

%margin-t-3 {
  margin-top: $m3;
}

%margin-r-3 {
  margin-right: $m3;
}

%margin-b-3 {
  margin-bottom: $m3;
}

%margin-l-3 {
  margin-left: $m3;
}

%margin-x-3 {
  margin-right: $m3;
  margin-left: $m3;
}

%margin-y-3 {
  margin-top: $m3;
  margin-bottom: $m3;
}

