%overflow-hidden {
  overflow: hidden;
}

%overflow-auto {
  overflow: auto;
}

%overflow-scroll {
  overflow: scroll;
}

%overflow-visible {
  overflow: visible;
}

%overflow-x-hidden {
  overflow: hidden;
}

%overflow-x-auto {
  overflow: auto;
}

%overflow-x-scroll {
  overflow: scroll;
}

%overflow-x-visible {
  overflow: visible;
}

%overflow-y-hidden {
  overflow: hidden;
}

%overflow-y-auto {
  overflow: auto;
}

%overflow-y-scroll {
  overflow: scroll;
}

%overflow-y-visible {
  overflow: visible;
}

