// PADDING PLACEHOLDER
%padding-a-0 {
  margin: $p0;
}

%padding-t-0 {
  margin-top: $p0;
}

%padding-r-0 {
  margin-right: $p0;
}

%padding-b-0 {
  margin-bottom: $p0;
}

%padding-l-0 {
  margin-left: $p0;
}

%padding-x-0 {
  margin-right: $p0;
  margin-left: $p0;
}

%padding-y-0 {
  margin-top: $p0;
  margin-bottom: $p0;
}

%padding-a-1 {
  margin: $p1;
}

%padding-t-1 {
  margin-top: $p1;
}

%padding-r-1 {
  margin-right: $p1;
}

%padding-b-1 {
  margin-bottom: $p1;
}

%padding-l-1 {
  margin-left: $p1;
}

%padding-x-1 {
  margin-right: $p1;
  margin-left: $p1;
}

%padding-y-1 {
  margin-top: $p1;
  margin-bottom: $p1;
}

%padding-a-2 {
  margin: $p2;
}

%padding-t-2 {
  margin-top: $p2;
}

%padding-r-2 {
  margin-right: $p2;
}

%padding-b-2 {
  margin-bottom: $p2;
}

%padding-l-2 {
  margin-left: $p2;
}

%padding-x-2 {
  margin-right: $p2;
  margin-left: $p2;
}

%padding-y-2 {
  margin-top: $p2;
  margin-bottom: $p2;
}

%padding-a-3 {
  margin: $p3;
}

%padding-t-3 {
  margin-top: $p3;
}

%padding-r-3 {
  margin-right: $p3;
}

%padding-b-3 {
  margin-bottom: $p3;
}

%padding-l-3 {
  margin-left: $p3;
}

%padding-x-3 {
  margin-right: $p3;
  margin-left: $p3;
}

%padding-y-3 {
  margin-top: $p3;
  margin-bottom: $p3;
}
