// TABLE PLACEHOLDER
%table-collapse {
  border-collapse: collapse;
  border-spacing: 0;
}

%table-separate {
  border-collapse: separate;
  border-spacing: 0 1px;
}

%table-fixed {
  table-layout: fixed;
}
