// TEXT TRANSFORM PLACEHOLDER
%text-transform-lowercase {
  text-transform: lowercase;
}

%text-transform-uppercase {
  text-transform: uppercase;
}

%text-transform-capitalize {
  text-transform: capitalize;
}

%text-transform-none {
  text-transform: none;
}
