// TEXT DECORATION PLACEHOLDER
%text-decoration-none {
  text-decoration: none;
}

%text-decoration-underline {
  text-decoration: underline;
}

%text-decoration-line-through {
  text-decoration: line-through;
}

%text-decoration-overline {
  text-decoration: overline;
}

%text-decoration-blink {
  text-decoration: blink;
}
