%transform-origin-0-0 {
  @include transform-origin(0, 0);
}

%transform-origin-0-50 {
  @include transform-origin(0, 50%);
}

%transform-origin-0-100 {
  @include transform-origin(0, 100%);
}

%transform-origin-50-0 {
  @include transform-origin(50%, 0);
}

%transform-origin-50-50 {
  @include transform-origin(50%, 50%);
}

%transform-origin-50-100 {
  @include transform-origin(50%, 100%);
}

%transform-origin-100-0 {
  @include transform-origin(100%, 0);
}

%transform-origin-100-50 {
  @include transform-origin(100%, 50%);
}

%transform-origin-100-100 {
  @include transform-origin(100%, 100%);
}
